<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'Post title' }) %>
    <link rel="stylesheet" href="/styles/posts.css">
    <script src="/scripts/comments.js" defer></script>
</head>

<body>
  <%- include('includes/header') %>
    <main id="post-detail">
      <h1>
        <%= post.title %>
      </h1>
      <p>
        <%= post._id %>
      </p>
      <section id="post-meta">
        <address>
          <a href="mailto:<%= post.authorEmail %> ">
            <%= post.authorName %>
          </a>
        </address>
        <time datetime="<%= post.date %>">
          <%= post.date %>
        </time>
      </section>
      <hr>
      <section>
        <p id="body">
          <%= post.body %>
        </p>
      </section>
    </main>
    <section id="commentsSection">
    </section>
    <section id="commentsForm">
      <button class="btn btn-alt" id="loadCommentsBtn" data-postid="<%= post._id %>">
        Load comments
      </button>
      <h2>Leave a comment</h2>
      <form>
        <div class="form-control">
          <label for="title">Comment title</label>
          <input type="text" id="title" name="title" required />
        </div>
        <div class="form-control">
          <label for="text">Your comment</label>
          <textarea name="text" id="text" rows="3" required></textarea>
        </div>
        <button class="btn" data-postid="<%= post._id %>">Save Comment</button>
      </form>
    </section>
</body>

</html>